{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    .belt-ul li{
        list-style-type:disc;
    }
    .blog1-img
    {
    box-sizing: border-box;
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
    }
</style>
            <!-- Begin Page Banner Area -->
            <div class="page-banner blog-page-banner"></div>
                <div class="container">
                    <div class="page-banner-content">
                        <!--<h2 class="text-light">GIL</h2>-->
                        <!--<ul>-->
                        <!--    <li><a href="/">Home</a></li>-->
                            <!-- <li><a href="blog.html">Blog</a></li> -->
                        <!--    <li class="active"><a href="#">Blog</a></li>-->
                        <!--</ul>-->
                    </div>
                </div>
            </div>
            <!-- Page Banner Area End Here -->
            <!-- Begin Blog Details Area -->
            <div class="blog-details pt-100 pb-100">
                <div class="container">
                    <div class="row">
                       
                        <div class="col-lg-12 order-1 order-lg-2">
                            <div class="blog-2-active owl-carousel">
                                <div class="single-item">
                                    <div class="blog-details-img">
                                        <img src="{% static 'images/blog/purse.jpg' %}" alt="">
                                       </div>
                                </div>
                            </div>
                            <!-- Begin Blog Details Post Area -->
                            <div class="blog-post pt-50">
                                <div class="post-info">
                                    <header class="entry-header">
                                        <div class="post-date">
                                            <span class="month">July 30</span>
                                            <span class="month">2021</span>
                                        </div>
                                        <div class="post-meta">
                                            <h1 class="entry-title">
                                                <a href="#"> Know Your Leather Wallet </a>
                                            </h1>
                                        </div>
                                    </header>
                                    <!-- Begin Entry Summary Area -->
                                    <div class="entry-summary">
                                        <p>If you look into your pocket right now, you are sure to find your leather wallet there. You can be carrying it in your front or back pocket, but it will be there. No matter what your job is, you will be using a wallet to carry your cash, cards, documents, etc.</p>
                                        <p>There are different types of Men’s Leather Wallets out there and it is up to you to choose which one is perfect for you. But you are not alone, we are here to help you in choosing that perfect wallet for you, or as you may have heard by its other name Your Purse.</p>
                                    </div>
                                    <!-- Entry Summary Area End Here -->
                                    <div class="post-meta">
                                            <h1 class="entry-title">
                                                <a href="#"> THINGS TO KEEP IN MIND WHILE SELECTING YOUR LEATHER WALLET.</a>
                                            </h1>
                                    </div>
                                    <!-- <p>When shopping for a belt, you will most likely have a specific pair of pants in mind. Based on the outfit you intend to wear it with, you’ll know whether you need a dress belt or a casual belt. Knowing this will narrow your options significantly. </p>
                                    <p>Leather Belts Online, Formal Belts for Men, Casual Leather Belts For Men,<b> Buy Leather Belts For Men .</b></p> -->
                                    <ul class="pt-4 pb-4 belt-ul" style="list-style-type: disc; padding-left: 20px; font-weight:600">
                                        <li>Quality of Leather</li>
                                    </ul>
                                    <p>Make sure you buy your leather wallet from a trusted brand. There are different types of leather available and they are not the same. Choose wallets made from high-quality leather to guarantee a longer use for your wallet. We at GIL® make wallets from full-grain leather and imported Spanish Leather. Our wallets are known for their quality.</p>
                                    <ul class="pt-4 pb-4 belt-ul" style="list-style-type: disc; padding-left: 20px; font-weight:600">
                                        <li>Right Shape and Design</li>
                                    </ul>
                                    <p>It is equally important for you to choose the right shape and design of the leather wallet for yourself or you’ll be left wanting. There are different kinds of leather wallets like bi-fold, tri-fold, wallets with coin pockets, wallets with extra card-holders, and money clip wallets. Choose the wallet according to your needs. We at GIL® offer all kinds of leather wallets for men that fit your needs.</p>
                                     <!-- Begin Blog Blockquote Area -->
                                     <div class="blog-blockquote">
                                        <blockquote>
                                            <h4 class="pt-4 pb-4">Get the leather wallet of your choosing from GIL®. </h4>
                                            <p>Made from 100% Genuine Leather, our wallets are made by skilled craftsmen. Get your next Men’s Leather Wallet from House of GIL® and carry your cash in style. A brand trusted by all.</p>
                                        </blockquote>
                                    </div>
                                    <!-- Blog Blockquote Area End Here -->
                                    
                                    
                                    <!-- Begin Social Share Area -->
                                   <div class="social-share social-share-2 pt-40">
                                      <h3>Share this post</h3>
                                      <ul class="socil-icon2 blog-social-icon">
                                          <li><a href="https://www.facebook.com/leathergilofficial" target="_blank" data-bs-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                          <li><a href="https://twitter.com/growmoregil target="_blank"  data-bs-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                          <li><a href="https://in.pinterest.com/Leather_GIL/" target="_blank"  data-bs-toggle="tooltip" title="Pinterset"><i class="fa fa-pinterest"></i></a></li>
                                          <li><a href="https://www.instagram.com/leathergilofficial/" target="_blank"  data-bs-toggle="tooltip" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                                          <li><a href="https://www.linkedin.com/company/growmoregil" target="_blank"  data-bs-toggle="tooltip" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                      </ul>
                                   </div>
                                    <!-- Social Share Area End Here -->
                                   
                                    
                                    <!-- Begin Related Post Comments Area -->
                                    <!-- <div class="related-post-comments"> -->
                                        <h3 class="rp-comments-title">3 Comments</h3>
                                        <ul class="rp-comment-list">
                                            <li>
                                                <div class="rp-user-img">
                                                    <img src="images/blog-details/admin.png" alt="">
                                                </div>
                                                <div class="rp-user-info">
                                                    <strong class="rp-user-name">Admin</strong>
                                                    <span class="rp-time">October 6, 2022 at 1:38 am</span>
                                                    <span class="rp-user-comment">Just a nice Post</span>
                                                </div>
                                                <div class="related-post-btn rp-user-btn">
                                                    <a href="#">Reply</a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="rp-user-img">
                                                    <img src="images/blog-details/user.png" alt="">
                                                </div>
                                                <div class="rp-user-info">
                                                    <strong class="rp-user-name">User</strong>
                                                    <span class="rp-time">October 6, 2022 at 3:25 am</span>
                                                    <span class="rp-user-comment">Quisque semper nunc vitae erat pellentesque, ac placerat arcu consectetur</span>
                                                </div>
                                                <div class="related-post-btn rp-user-btn">
                                                    <a href="#">Reply</a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="rp-user-img">
                                                    <img src="images/blog-details/admin.png" alt="">
                                                </div>
                                                <div class="rp-user-info">
                                                    <strong class="rp-user-name">Admin</strong>
                                                    <span class="rp-time">October 6, 2022 at 2:18 pm</span>
                                                    <span class="rp-user-comment">Quisque orci nibh, porta vitae sagittis sit amet, vehicula vel mauris. Aenean at justo dolor.</span>
                                                </div>
                                                <div class="related-post-btn rp-user-btn">
                                                    <a href="#">Reply</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Related Post Comments Area End Here -->
                                    <!-- Begin Related Post Respond Area -->
                                    <!-- <div class="rp-respond">
                                        <h3 class="rp-respond-title">Leave a Reply</h3>
                                        <form class="rp-respond-form" action="#">
                                            <p>Your email address will not be published. Required fields are marked *</p>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="rp-comment-form">
                                                        <label for="comment">Comment</label>
                                                        <textarea id="comment" name="comment"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="rp-comment-input">
                                                        <label for="name">Name</label>
                                                        <input id="name" name="name" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="rp-comment-input">
                                                        <label for="email">Email</label>
                                                        <input id="email" name="email" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="rp-comment-input">
                                                        <label for="url">Website</label>
                                                        <input id="url" name="url" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="form-button rp-comment-btn" type="submit"><span>Post Comment</span></button>
                                        </form>
                                    </div> -->
                                    <!-- Related Post Respond Area End Here -->
                                </div>
                            </div>
                            <!-- Blog Details Post Area End Here -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blog Details Area End Here -->
 {% endblock %}