{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<style>
    
    .password-reset-container {
        max-width: 400px;
        margin: auto;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-top: 50px;
    }

    h3 {
        margin-bottom: 20px;
        text-align: center;
        color: #cb9a00;
    }

    p {
        text-align: center;
        margin-bottom: 20px;
        color: #333;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
        color: #333;
    }



    .verify-mobile-link,
    .btn-primary {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 5px;
        cursor: pointer;
    }

    .verify-mobile-link {
        background-color: #28a745;
        color: #fff;
        margin-bottom: 10px;
    }



    .success-msg,
    .error-msg {
        padding: 10px;
        margin-top: 10px;
        border-radius: 5px;
    }

    .success-msg {
        background-color: #d4edda;
        color: #155724;
        border: 1px solid #c3e6cb;
    }

    .error-msg {
        background-color: #f8d7da;
        color: #721c24;
        border: 1px solid #f5c6cb;
    }

    form {
        margin: 20%;
    }
</style>

<div class="page-banner login-page-banner">
    <div class="container">
        <div class="page-banner-content">
            <!--<h2>GIL</h2>-->
            <!--<ul>-->
            <!--    <li><a href="/">Home</a></li>-->
            <!--    <li><a href="{% url 'accounts/login/' %}">Login</a></li>-->
            <!--    <li class="active"><a href="{% url 'accounts/login/' %}">Forget Password</a></li>-->
            <!--</ul>-->
        </div>
    </div>
</div>

<div class="checkout-area pt-100 pb-70">
    <div class="container">
        <div class="forget-password-form">
            <form id="forgot-password-form" action="{% url 'forgot_password' %}" method="post">
                {% csrf_token %}
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <h3><i class="fa-solid fa-lock"></i></h3>
                <h3>Forgot Password</h3>
                <p style="text-align: center;">You can reset your Password here</p>

                <div class="form-field ">
                    <label for="phoneNumber"></label>
                    <input type="text" name="mobile_no" id="mobile_no" placeholder="Enter Your Phone number*" required
                        pattern="\d{10}">
                    <!-- <a class="anchor" href="{% url 'accounts/login/' %}"><i
                            class="fa-solid fa-arrow-left"></i>&nbsp;&nbsp;Back to Login</a> -->
                    <button class="form-button mt-2 mb-2" type="button" id="verifyMobileLink" onclick="verifyMobileNumber()"
                        required>Send OTP</button>

                </div>
                <div class="form-field " id="otpInputGroup" style=" display:none ">
                    <label for="otp" class="col-sm-3 control-label"></label>
                        <input type="text" name="otp" id="otp" placeholder="Enter OTP" required>
                        <div style="display: flex;">
                        <button type="button" id="verifyOtpBtn" onclick="verifyOTP()" class="form-button mb-2 mt-2 mx-2"
                            required>Verify OTP</button>
                        <button type="button" id="resendOtpBtn" onclick="verifyMobileNumber()" class="form-button mb-2 mt-2"
                            required>Resend OTP</button>
                        </div>
                        <div id="successMsg" style="display: none;">OTP sent successfully!</div>
                    </div>
                </div>
                <div id="successMsg" style="display: none; color: green; padding-left:15px;">OTP verification
                    successful!</div>
                <div id="failedMessage" style="display: none; color: red; padding-left:15px;">OTP verification Failed!
                </div>
                <a class="mb-4" href="{% url 'accounts/login/' %}"><i
                    class="fa-solid fa-arrow-left"></i>&nbsp;&nbsp;Back to Login</a>
            </form>
        </div>






        <!-- OTP input group (initially hidden) -->


    </div>
</div>
<script>
    function verifyMobileNumber() {
        var checkPhone = document.getElementById('mobile_no').value;
        var verifyMobileLink = document.getElementById('verifyMobileLink');
        var mobile_no = checkPhoneNumber(checkPhone)
        var csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;

        // Make an AJAX request to send OTP
        $.ajax({
            url: 'verify-number',  // Update this URL with the appropriate endpoint in your Django app
            type: 'POST',
            data: {
                'mobile_no': mobile_no,
                'csrfmiddlewaretoken': csrfToken  // Include the CSRF token in the request

            },
            success: function (data) {
                if (data.check == true) {
                    document.getElementById('otpInputGroup').style.display = 'block';
                } else {
                    // Show the failure message
                    document.getElementById('otpInputGroup').style.display = 'none';
                    var userConfirmed = window.confirm('Please You Are Not Registered, Do you Want To Register Your self');
                    if (userConfirmed) {
                        window.location.href = "https://growmore.in/accounts/login/";
                    } else {
                        window.location.href = "https://growmore.in";
                    }

                }
            },
            error: function (error) {
                console.error("Error:", error);
            }
        });

        otpInputGroup.style.display = 'block';
        verifyMobileLink.style.display = 'none';
    }
    function checkPhoneNumber(phoneNumber) {
        // Remove non-digit characters from the input
        phoneNumber = phoneNumber.replace(/\D/g, '');

        // Check if the number has a country code
        if (phoneNumber.length > 10) {
            // Split the number into country code and local number
            let countryCode = phoneNumber.slice(0, phoneNumber.length - 10);
            let localNumber = phoneNumber.slice(-10);

            return localNumber;
        } else {
            // If it's a normal 10-digit number, return as is
            return phoneNumber;
        }
    }
    function sendMobileNumberToBackend(mobileNumber) {
        // Send an AJAX request to your backend (e.g., using Fetch API or XMLHttpRequest)
        fetch('/verify-mobile/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ mobileNumber })
        })
            .then(response => response.json())
            .then(data => {
                console.log('OTP sent successfully:', data);
                // Handle the response from the backend (e.g., display a message to the user)
            })
            .catch(error => console.error('Error:', error));
    }

    function verifyOTP() {
        var checkPhone = document.getElementById('mobile_no').value;
        var otp = document.getElementById('otp').value;
        var csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
        var phoneNumber = checkPhoneNumber(checkPhone)
        console.log("mobile_no:", phoneNumber);
        console.log("otp:", otp);
        console.log("csrfToken:", csrfToken);
        $.ajax({
            url: 'for-verify-otp',  // Update this URL with the appropriate endpoint in your Django app
            type: 'POST',
            data: {
                'mobile_no': phoneNumber,
                'otp': otp,
                'csrfmiddlewaretoken': csrfToken  // Include the CSRF token in the request

            },
            success: function (data) {
                if (data.status === 'success') {
                    window.location.href = data.url;
                    document.getElementById('successMessage').style.display = 'block';
                } else {
                    document.getElementById('failedMessage').style.display = 'block';
                }
            },
            error: function (error) {
                console.error("Error:", error);
                // Handle the error, e.g., show an error message
            }
        });


    }


    function resendOTP() {
        var phoneNumber = document.getElementById('mobile_no').value;
        var csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;

        // Disable the resend button to prevent multiple requests
        document.getElementById('resendOtpBtn').disabled = true;

        // Make an AJAX request to resend OTP
        $.ajax({
            url: 'resend-otp',  // Update this URL with the endpoint for resending OTP
            type: 'POST',
            data: {
                'mobile_no': mobile_no,
                'csrfmiddlewaretoken': csrfToken
            },
            success: function (data) {
                console.log(data);
                // Handle the response from the server
                if (data.status === 'success') {
                    showSuccessMessage();
                } else {
                    showError();
                }
            },
            error: function (error) {
                console.error("Error:", error);
                // Handle the error, e.g., show an error message
                showError();
            }
        });

        // Display the countdown timer
        var seconds = 15;
        var timerInterval = setInterval(function () {
            if (seconds > 0) {
                document.getElementById('resendOtpBtn').innerText = 'Resend OTP in ' + seconds + ' seconds';
                seconds--;
            } else {
                clearInterval(timerInterval);
                document.getElementById('resendOtpBtn').innerText = 'Resend OTP';
                document.getElementById('resendOtpBtn').disabled = false;
            }
        }, 1000);
    }

    function showSuccessMessage() {
        // Display the success message
        var successMsg = document.getElementById('successMsg');
        successMsg.style.display = 'block';

        // Hide the success message after 5 seconds (adjust as needed)
        setTimeout(function () {
            successMsg.style.display = 'none';
        }, 5000);
    }

    function showError() {
        // Display the error message
        var errorMsg = document.getElementById('errorMsg');
        errorMsg.style.display = 'block';

        // Hide the error message after 5 seconds (adjust as needed)
        setTimeout(function () {
            errorMsg.style.display = 'none';
        }, 5000);
    }
</script>

<!-- $.ajax({
    url: 'for-otp',  // Update this URL with the appropriate endpoint in your Django app
    type: 'POST',
    data: {
        'mobile_no': mobile_no,
        'otp': otp,
        'csrfmiddlewaretoken': csrfToken
    },
    success: function (data) {
        if (data.status === 'success') {
            window.location.href = data.url;
            document.getElementById('successMessage').style.display = 'block';
        } else {
            document.getElementById('failedMessage').style.display = 'block';
        }
    },
    error: function (error) {
        console.error("Error:", error);
        // Handle the error, e.g., show an error message
    }

}); -->

{% endblock %}